#top {
	background-color: #ccc
	padding: 20px
}

#intro {
	color: red;
	font-weight: bold;
}
body {
	font-size: 14px;
	color: navy;
}


h1 {
	color: yellow;
	background-color: blue;
}

h2 {
	border-style: dashed;
	border-width: 3px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-color: red;
}